svg {
    margin-top: 50px;
    margin-left: 20px;
}

.axis path,
.axis line {
    fill: none;
    stroke: black;
    shape-rendering: crispEdges;
}

.axis text {
    font-family: sans-serif;
    font-size: 11px;
}

p {
    font-family: sans-serif;
    font-size: 26px;
    font-weight: bold;
    left: 40%;
    margin: 0;
    position: absolute;
}

circle:hover {
    fill: orange;
}

line {
    stroke: rgb(19,117,255);
    stroke-width: 2px;
}

.dataline {
    fill: none;
    stroke: rgb(19,117,255);
    stroke-width: 1px;
}

#buttons {
    left: 1050px;
    position: relative;
}

button{
    background-color: #222222;
    border-width: 1px;
    border-color: #cccccc;
    color: #ffffff;
    font-family: Helvetica;
    font-size: 14px;
    margin: 0 -3px;
    padding: 6px 10px;
    text-rendering: optimizelegibility;
}

.active {
    background-color: #e8a804;
}

button:hover {
    background-color: #ffaa04;
}

#left {
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
}

#right {
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
}

div {
    font-family: Helvetica;
    font-size: 14px;
    color: #222222;
}

#table_container {
    margin-left: 100px;
    margin-top: 0px;
    width: 300px;
    height: 75px;
    position: absolute;
}

table {
    border-collapse: collapse;
}

table, td, th {
    padding: 2px 4px;
    border: 1px solid #222222;
}

th {
    background-color: #ffd060;
    font-weight: bold;
    font-family: Helvetica;
}

td {
    background-color: rgba(255, 208, 96, 0.21);
    text-align: center;
}
